
<div class="JOIN" id="JOIN">
    <div class = "container">
        <h2 class = "special-heading">JOIN US </h2>
        <p>if you do it ridth, it will last forever </p>
        <div class="JOIN-content">
           
            <div class="text">
                <p> "Harvard gave me an education but junior chambre gave me education for life" 
                    <span class="kenedy">JOHN KENEDY </span>
                </p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptates hic ut laboriosam, velit, pariatur architecto fuga sint maiores assumenda atque,
                     adipisci esse! Asperiores maxime amet libero omnis tenetur odio!
                     <a  routerLink="/devenirUnMembre" [routerLinkActive]="'active'">Read more</a>
                </p>

            </div>
            <div class="image">
                <img src="assets/images/teamwork1.png" alt="">
            </div>

        </div>

    </div>
 </div>