<div class="JOIN" id="JOIN">
    <div class="container">
        <h2 class="special-heading">REJOIGNEZ-NOUS</h2>
        <p>If you do it right, it will last forever</p>
        <div class="JOIN-content">

            <div class="text">
                <p> "Harvard gave me an education but junior chambre gave me education for life"&nbsp;&nbsp;&nbsp;
                    <span class="kenedy">JOHN KENEDY </span>
                </p>
                <hr>
                <p>La déclaration de Kennedy suggère que si Harvard lui a offert une éducation académique, la Jeune
                    Chambre Internationale (JCI) lui a procuré une éducation plus pratique et holistique "pour la vie".
                    La JCI a probablement proposé des expériences concrètes, un développement du leadership et une
                    responsabilité sociale, enrichissant la compréhension de Kennedy au-delà de l'académique
                    traditionnel et le préparant aux défis du monde réel
                    <a routerLink="/devenirUnMembre" [routerLinkActive]="'active'">Read more</a>
                </p>

            </div>
            <div class="image">
                <img src="assets/images/membres welcome.jpg" alt="">
            </div>

        </div>

    </div>
</div>