
.special-heading {
    color: #a8a2a2;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    margin-top: 100px;

}

.special-heading+p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;

    }

    .special-heading+p {
        margin-top: -20;
    }
}

    /* end component  */

     /* start JOIN  */
    .JOIN-content{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;    /*bch ken ll content zedt ll misse7a mte3oo yahbet louta  */
        justify-content: space-between;
    }

    @media (max-width : 991px) {
        .JOIN-content{
            flex-direction: column;
            text-align: center;
            width: 90%;

        }
    }
    .JOIN-content .image{
        position: relative;
        width: 400px;
        height: 500px;
    }
    .JOIN-content .image img{
        
        width: 100%;
        height: 500px;
    }
    @media (max-width : 991px) {
        .JOIN-content .image{
            margin: 0 auto 60px;
        }
    }
    
    @media (max-width : 991px) {
        
    }
    .JOIN-content .text{
        flex-basis: calc(100% - 500px);
        
    }
    .JOIN-content .text p:first-of-type{
        font-weight: bold;
        line-height: 2;
        margin-bottom: 50px;

    }
    .JOIN-content .text hr{
        width: 50%;
        display: inline-block;
        border-color: var(--main-color);

    }
    .JOIN-content .text p:last-of-type{
        line-height: 2;
        color: var(--third-color);
    }

    /*end JOIN  */