<!-- start our project  -->
<section class="notre-projet" id="our-project" #ourProjectSection>
    <div class="prigect row justify-content-between">
        <div class="ouer-project col-md-6">
            <div class="title">
                <h1> OUR PROJECT </h1>
            </div>
            <div class="paragraphe">
                <p>
                    <span>the leadership devlepment intiative within JCI , </span>
                    <span>is a grounbreaking endavor designed to empower young </span>
                    <span> is a grounbreaking endavor designed to empower young </span>
                    <span>individuals with essential skills, knowledg, and experience </span>
                    <a routerLink="/NOSACTIONS" [routerLinkActive]="'active'">Read More</a>
                </p>
            </div>
        </div>
        <div class="photos col-md-6">
            <div class="imgs">
                <img src="assets/images/18.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/4.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/12.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/15.jpg" alt="logo">
            </div>
        </div>
      
    </div> 
</section>

<section>
    <div class="devloppment">
        <img src="assets/images/developing.png" alt="singletemp">
    </div>
</section>
<!-- start our project  -->
