<!-- start our project  -->
<section class="notre-projet" id="our-project" #ourProjectSection>
    <div class="prigect row justify-content-between">
        <div class="ouer-project col-md-6">
            <div class="title">
                <h1> NOS ACTIONS </h1>
            </div>
            <div class="paragraphe">
                <p>
                    Les actions jouent un rôle crucial en concrétisant la vision et la mission. Elles représentent des
                    initiatives concrètes qui incarnent les valeurs de l'entité, contribuent à son évolution, et
                    démontrent son engagement envers des résultats positifs. Les actions sont le moyen par lequel une
                    organisation transforme ses idées en impact tangible, renforçant ainsi sa réputation et son
                    influence.
                    <a routerLink="/NOSACTIONS" [routerLinkActive]="'active'">Read More</a>
                </p>
            </div>
        </div>
        <div class="photos col-md-6">
            <div class="imgs">
                <img src="assets/images/18.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/4.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/14.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/15.jpg" alt="logo">
            </div>
        </div>

    </div>
</section>

<section>
    <div class="devloppment">
        <img src="assets/images/developing.png" alt="singletemp">
    </div>
</section>
<!-- start our project  -->