.parent-container {
    position: absolute;
    left: 85%;
  }
  
  .result {
    position: relative;
    top: 100%; /* Adjust as needed */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A0F29;
    padding: 10px;
    z-index: 1000;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .result a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    z-index: 1000; /* Make sure it's above other content */
  }
  
  /* Optional: Style the results further if needed */
  .result a:hover {
    background-color: #2C3E50;
  }
  