<app-navbar></app-navbar>
<DIV class="conteneure">
    <div class="logo">
        <img src="assets/images/Zouaouine.png" alt="logo">
    </div>

    <div class="who-we-are">
        <div class="text">
            <h1>WHO WE ARE</h1>
            <p>
                WE ARE JCI ZOUAOUINE, A YOUTH ORGANIZATION
                THAT WAS FOUNDED IN 2019 AND IS AFFILIATED WITH
                THE GLOBAL NETWORK OF YOUNG LEADERS
                KNOWN AS JUNIOR CHAMBER INTERNATIONAL (JCI).
                WE ARE MORE THAN JUST AN ORGANIZATION;
                WE ARE A DYNAMIC FORCE, AN EVOLVING STORY OF
                RESILIENCE, AND A TESTAMENT TO THE TRANSFORMATIVE
                POWER OF LEADERSHIP.
            </p>
        </div>
        <div class="mission">
            <img width="200px" src="assets/images/mission-V.png" alt="Mission">
        </div>
    </div>
    <div class="who-we-are">
        <div class="mission">
            <img width="200px" src="assets/images/vision-B.png" alt="Mission">
        </div>
        <div class="text">
            <h1> WHAT WE DO</h1>
            <div>
                <div class="sous-text">
                    <span>
                        WE OFFER DIVERSE PLATFORMS FOR GROWTH AND IMPACT, 
                        ALIGNED WITH JCI’S FOUR AREAS OF OPPORTUNITY:
                    </span>
                </div>
                
            
              <ul class="sous-text">
                <li>INDIVIDUAL DEVELOPMENT,</li>
                <li>COMMUNITY ACTION,</li>
                <li>BUSINESS AND ENTREPRENEURSHIP,</li>
                <li>INTERNATIONAL COOPERATION.</li>
              </ul>
              <div class="sous-text">
                <span>
                    WHETHER YOU WANT TO START YOUR OWN BUSINESS, IMPROVE YOUR SKILLS,
                     VOLUNTEER FOR A CAUSE, OR TRAVEL ABROAD, WE HAVE SOMETHING FOR YOU
                  </span>
              </div>
            </div>
          </div>

    </div>
</DIV>
<app-footer></app-footer>