<app-side-nav-bar></app-side-nav-bar>
<app-navbar></app-navbar>
<DIV class="conteneure" id="descktopVersion">
    <div class="logo">
        <img src="assets/images/ZouaouineLogoBleu.png" alt="logo">
    </div>

    <div class="who-we-are">
        <div class="text">
            <h1>QUI SOMME NOUS</h1>
            <p>
                Nous sommes la JCI ZOUAOUINE, une organisation de jeunes fondée en 2019 et affiliée au réseau mondial de
                jeunes leaders connu sous le nom de Junior Chamber International (JCI). Nous sommes bien plus qu'une
                simple organisation ; nous sommes une force dynamique, une histoire en évolution de résilience, et un
                témoignage du pouvoir transformateur du leadership.
            </p>
        </div>
        <div class="mission">
            <img width="200px" src="assets/images/mission-V.png" alt="Mission">
        </div>
    </div>
    <div class="who-we-are">
        <div class="mission">
            <img width="200px" src="assets/images/vision-B.png" alt="Mission">
        </div>
        <div class="text">
            <h1> CE QUE NOUS FAISONS</h1>
            <div>
                <div class="sous-text">
                    <span>
                        NOUS PROPOSONS DIVERSES PLATEFORMES DE CROISSANCE ET D'IMPACT,
                        ALIGNÉ AVEC LES QUATRE DOMAINES D'OPPORTUNITÉS DE JCI :
                    </span>
                </div>


                <ul class="sous-text">
                    <li>DÉVELOPPEMENT INDIVIDUEL,</li>
                    <li>ACTION COMMUNAUTAIRE,</li>
                    <li>ENTREPRISE ET ENTREPRENEURIAT,</li>
                    <li>COOPÉRATION INTERNATIONALE.</li>
                </ul>
                <div class="sous-text">
                    <span>

                        Que vous souhaitiez démarrer votre propre entreprise, améliorer vos compétences, faire du
                        bénévolat pour une cause ou voyager à l'étranger, nous avons quelque chose pour vous.
                    </span>
                </div>
            </div>
        </div>

    </div>
</DIV>


<DIV class="conteneure" id="mobileversion">
    <div class="logo">
        <img src="assets/images/ZouaouineLogoBleu.png" alt="logo">
    </div>
    <div class="who-we-are">
        <div class="text">
            <h1> CE QUE NOUS FAISONS</h1>
            <p>
                Nous sommes la JCI ZOUAOUINE, une organisation de jeunes fondée en 2019 et affiliée au réseau mondial de
                jeunes leaders connu sous le nom de Junior Chamber International (JCI). Nous sommes bien plus qu'une
                simple organisation ; nous sommes une force dynamique, une histoire en évolution de résilience, et un
                témoignage du pouvoir transformateur du leadership.
            </p>
        </div>
        <div class="mission">
            <img width="200px" src="assets/images/mission-V.png" alt="Mission">
        </div>
    </div>
    <div class="who-we-are">
        <div class="text">
            <h1> WHAT WE DO</h1>
            <div>
                <div class="sous-text">
                    <span>
                        NOUS PROPOSONS DIVERSES PLATEFORMES DE CROISSANCE ET D'IMPACT,
                        ALIGNÉ AVEC LES QUATRE DOMAINES D'OPPORTUNITÉS DE JCI :
                    </span>
                </div>


                <ul class="sous-text">
                    <li>DÉVELOPPEMENT INDIVIDUEL,</li>
                    <li>ACTION COMMUNAUTAIRE,</li>
                    <li>ENTREPRISE ET ENTREPRENEURIAT,</li>
                    <li>COOPÉRATION INTERNATIONALE.</li>
                </ul>
                <div class="sous-text">
                    <span>

                        Que vous souhaitiez démarrer votre propre entreprise, améliorer vos compétences, faire du
                        bénévolat pour une cause ou voyager à l'étranger, nous avons quelque chose pour vous.
                    </span>
                </div>
            </div>
        </div>
        <div class="mission">
            <img width="200px" src="assets/images/vision-B.png" alt="Mission">
        </div>

    </div>
</DIV>
<app-footer></app-footer>