#mobileversion {
    display: none;
}

.conteneure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px;
    /* background: linear-gradient(to bottom, #EDBE38, #fff); */
}

.conteneure .logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteneure .logo img {
    width: 50%;
}

.conteneure .who-we-are {
    display: flex;
    width: 100%;

}

.conteneure .who-we-are .text {
    width: 50%;
    margin-left: 5%;

}

.conteneure .who-we-are .text p {
    text-align: justify;
    font-weight: 300;
    font-size: large;
    line-height: 1.6;


}

.conteneure .who-we-are .text .sous-text {
    margin-bottom: 40px;

}

.conteneure .who-we-are .mission {
    width: 50%;
}

.conteneure .who-we-are .mission img {
    width: 100%;
    margin-top: -200px;

}

@media(max-width: 991px) {
    .conteneure .who-we-are .mission img {
        margin-top: 0px;

    }


}

@media(max-width: 767px) {

    #descktopVersion {
        display: none;
    }

    #mobileversion {
        display: block;
    }
    .conteneure {
       margin-top:50px ;
       padding-top: 0px;
    }

    .conteneure .who-we-are {
        display: block;
    }

    .conteneure .who-we-are .text {
        width: 90%;
        margin-left: 5%;

    }

    .conteneure .who-we-are .mission {
        width: 90%;
    }

}