<div class="WHY" id="WHYDescktop">
    <div class="container">
        <h2 class="special-heading">POURQUOI JCI</h2>
        <p>don't be busy be productive</p>
        <div class="WHY-content">
            <div class="image">
                <img src="assets/images/why.png" alt="">
            </div>
            <div class="text">
                <p>La Junior Chambre Internationale (JCI) est une fédération mondiale de jeunes leaders et entrepreneurs
                </p>
                <hr>
                <p>Rejoindre la JCI offre une opportunité unique de croissance personnelle et professionnelle. En tant
                    que membre, vous avez accès à un réseau mondial de jeunes entrepreneurs, favorisant des connexions
                    précieuses et une collaboration internationale. La JCI offre une plateforme pour développer des
                    compétences en leadership à travers des projets concrets, des ateliers et des événements. De plus,
                    l'organisation met l'accent sur la responsabilité sociale, vous permettant de contribuer à des
                    projets communautaires impactants. Faire partie de la JCI ne se résume pas seulement au
                    développement personnel ; c'est aussi faire une différence positive dans le monde tout en
                    construisant un réseau diversifié et solidaire de personnes partageant les mêmes valeurs.
                    <a routerLink="/about" [routerLinkActive]="'active'">Read more</a>
                </p>

            </div>

        </div>

    </div>
</div>

<div class="WHY" id="WHYMobileVerion">
    <div class="container">
        <h2 class="special-heading">POURQUOI JCI</h2>
        <p>don't be busy be productive</p>
        <div class="WHY-content">

            <div class="text">
                <p>La Junior Chambre Internationale (JCI) est une fédération mondiale de jeunes leaders et entrepreneurs
                </p>
                <hr>
                <p>Rejoindre la JCI offre une opportunité unique de croissance personnelle et professionnelle. En tant
                    que membre, vous avez accès à un réseau mondial de jeunes entrepreneurs, favorisant des connexions
                    précieuses et une collaboration internationale. La JCI offre une plateforme pour développer des
                    compétences en leadership à travers des projets concrets, des ateliers et des événements. De plus,
                    l'organisation met l'accent sur la responsabilité sociale, vous permettant de contribuer à des
                    projets communautaires impactants. Faire partie de la JCI ne se résume pas seulement au
                    développement personnel ; c'est aussi faire une différence positive dans le monde tout en
                    construisant un réseau diversifié et solidaire de personnes partageant les mêmes valeurs.
                    <a href="">Read more</a>
                </p>

            </div>
            <div class="image">
                <img src="assets/images/teamwork1.png" alt="">
            </div>

        </div>

    </div>
</div>