
     <div class="WHY" id="WHYDescktop">
        <div class = "container">
            <h2 class = "special-heading">WHY JCI </h2>
                <p>dont be busy be productive </p>
            <div class="WHY-content">
                <div class="image">
                    <img src="assets/images/teamwork1.png" alt="">
                </div>
                <div class="text">
                    <p>unior chambre Internationale(JCI) is a wordwide federation of young leaders end entrepreneurs
                        unior chambre Internationale(JCI) is a wordwide federation of young leaders end entrepreneurs
                    </p>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptates hic ut laboriosam, velit, pariatur architecto fuga sint maiores assumenda atque,
                         adipisci esse! Asperiores maxime amet libero omnis tenetur odio!
                         <a  routerLink="/about" [routerLinkActive]="'active'">Read more</a>
                    </p>

                </div>

            </div>

        </div>
     </div>

     <div class="WHY" id="WHYMobileVerion">
        <div class = "container">
            <h2 class = "special-heading">WHY JCI </h2>
                <p>dont be busy be productive </p>
            <div class="WHY-content">
              
                <div class="text">
                    <p>unior chambre Internationale(JCI) is a wordwide federation of young leaders end entrepreneurs
                        unior chambre Internationale(JCI) is a wordwide federation of young leaders end entrepreneurs
                    </p>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptates hic ut laboriosam, velit, pariatur architecto fuga sint maiores assumenda atque,
                         adipisci esse! Asperiores maxime amet libero omnis tenetur odio!
                         <a href="" >Read more</a>
                    </p>

                </div>
                <div class="image">
                    <img src="assets/images/teamwork1.png" alt="">
                </div>

            </div>

        </div>
     </div>
