/* start header version desctop  */
.head {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

ul {
    list-style: none;
}

app-side-nav-bar{
    display: none;
}

/* Small */
@media (max-width: 767px) {
    header {
        display: none; 
    }
    app-side-nav-bar{
        display: block;
    }
   
    .recherceh .recherchebar input{
        display: none;
    }
    
    .recherceh .recherchebar button{
        display: none;
    }
}


/*end global rools*/

/* start header */
 .head {
        width: 100%;
    } 


header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    background-color: #0A0F29;

}

/* header .head::after{
    content:"";
    position: absolute;
    height: 2px ;
    background-color: black;
    bottom: 17px;
    width: 100%
    

} */
header .head .logo {
    margin-left: 20px;
}

header .head .logo img {
    height: 100px;
}

header .head nav {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

header .head nav ul li {
    cursor: pointer;
}

@media (min-width : 768px) {
    header .head nav .toggle-menu {
        display: none;
        font-size: 30px;
    }
}

header .head nav ul {
    display: flex;
    margin-right: 50px;

}

@media (max-width : 767px) {
    header .head nav ul {
        /* display: none; */
        font-size: 10px;
    }
    header .head nav ul li a{
        /* display: none; */
        font-size: 10px;
    }
}

header nav ul li a {
    display: block;
    text-decoration: none;
    padding: 40px 10px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 300;
    color: #EDBE38;
    position: relative;
    z-index: 1;
}

header nav ul li a.active {
    color: #19c8fa;
}

header nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #4070f4;
    border-radius: 50px;
    transition: width 0.3s ease;

}

header nav ul li a:hover::before {

    width: 100%;

}

.tooltiptext {
    color: #555;
    width: 120px;
    visibility: hidden;
    background-color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    top: 5%;
    margin-left: -80px;

    /* Fade in tooltip */
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
header nav ul li a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.recherceh {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 20px;
    height: 30px;
    /* background-color: #EDBE38; */
}
.recherceh .recherchebar {
    display: flex;
}
.recherceh .recherchebar input{
    background-color: #EDBE38;
    width: inherit;
    margin-left: 5px;
    padding-left: 10px;
}

.recherceh .recherchebar button{
    height: 30px;
    width: 100%;
    margin-left: 10px;
}


@media (max-width : 768px) {
    header nav .form {
        bottom: 0;
    }
}

/* end header version desctop */