
<header >
  <div class="head" id="navbar">
    <a href="#" class="logo">
      <img src="assets/images/Zouaouine.png" alt="logo">
    </a>
    <nav>
      <ul>
        <li><a routerLink="/Acceuil" [routerLinkActive]="'active'"> ACCUEIL <span class="tooltiptext">ACCUEIL</span></a></li>
        <li><a routerLink="/about" [routerLinkActive]="'active'">À PROPOS<span class="tooltiptext">À PROPOS</span></a>
        </li>
        <li><a routerLink="/NOSACTIONS" [routerLinkActive]="'active'">NOS ACTIONS <span class="tooltiptext">NOS ACTIONS</span></a></li>
        <li><a routerLink="/devenirUnMembre" [routerLinkActive]="'active'">REJOIGNEZ-NOUS<span class="tooltiptext">REJOIGNEZ-NOUS</span></a>
        </li>
      </ul>  
    </nav>
  </div>
</header>


