<!-- start header large ecran -->

<header>
  <div class="head">
    <a href="#" class="logo">
      <img src="assets/images/Zouaouine.png" alt="logo">
    </a>
    <nav>
      <ul>
        <li><a routerLink="/test" [routerLinkActive]="'active'">portfelio<span class="tooltiptext">JOIN-US</span></a>
        </li>
        <li><a routerLink="/Acceuil" [routerLinkActive]="'active'"> HOME <span class="tooltiptext">HOME</span></a></li>
        <li><a routerLink="/about" [routerLinkActive]="'active'">About Us <span class="tooltiptext">About Us</span></a>
        </li>
        <li><a routerLink="/NOSACTIONS" [routerLinkActive]="'active'">NOS ACTIONS <span class="tooltiptext">NOS
              ACTIONS</span></a></li>
        <li><a routerLink="/joinus" [routerLinkActive]="'active'">JOIN-US<span class="tooltiptext">JOIN-US</span></a>
        </li>
      </ul>
      <form class="recherceh d-flex" role="search" (ngSubmit)="onSearch()">
        <div class="recherchebar">
          
            <input matInput type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
            
      
          <!-- Utilisation de [disabled] pour désactiver le bouton si searchQuery est vide -->
          <button mat-button class="mat-raised-button mat-primary" type="submit" [disabled]="!searchQuery">Search</button>
        </div>
      </form>
      
    </nav>
  </div>
</header>
<div >
  <app-search-results> </app-search-results>
</div>
<app-side-nav-bar></app-side-nav-bar>

<!-- end header large ecran -->