.logo{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.conteneur{
    padding: 0;
    margin: 0;

}
.conteneur .conteneur-content{
    display: flex;
    justify-content: space-between;
}
.conteneur .conteneur-content .Pourquoi{
    display: block;
    width: 40%;
    margin-left: 20px;
}
.conteneur .conteneur-content .Pourquoi h1{
   color: #3A67B1;
}
.conteneur .conteneur-content .Pourquoi p{
    color: #444;
    text-align: justify;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    display: block;  

}
.conteneur .conteneur-content .Comment{
    display: block;
    width: 40%;
    margin-right: 40px;
   
}
.conteneur .conteneur-content .Comment h1{
    color: #3A67B1;
   
}
.conteneur .conteneur-content .Comment p{
    color: #444;
    text-align: justify;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    display: block;  
}
.proceder{
    margin-left: 20px; 
    padding-bottom: 20px;
}
.proceder h1{
    color: #3A67B1;
}

@media (max-width: 767px) {
    .logo{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 40px;
    }
    .conteneur{
        padding: 0;
        margin: 0;
        margin-top: -40px;
        padding-top: 60px;
    }
    .conteneur .conteneur-content{
        flex-direction: column;

    }
    .conteneur .conteneur-content .Pourquoi{
        width: 90%; 
    }
    .proceder{
        width: 90%; 
    }
    .conteneur .conteneur-content .Comment{
        width: 90%;
        margin-right: 0px;
        margin-left: 20px;
       
    }
    .conteneur .conteneur-content .Comment h1{
       font-size: 20px;
    }
    .conteneur .conteneur-content .Pourquoi h1{
        font-size: 20px;
    }
    .proceder h1{
        font-size: 20px;
    }
    
}
