<app-side-nav-bar></app-side-nav-bar>
<app-navbar></app-navbar>
<div class="logo">
    <img width="200px" src="assets/images/ZouaouineLogoBleu.png" alt="logo">
</div>
<div class="conteneur">
    <div class="conteneur-content">
        <div class="Pourquoi">
            <h1>Pourquoi devenir membre ?</h1>
            <p>
                En devenant membre de la Jeune Chambre, tu auras l’occasion de faire partie du plus grand réseau de
                jeunes
                de 18 à 40 dans le monde et de découvrir un monde d’opportunités !

                La Jeune Chambre, ce sont des rencontres, des formations, des projets, des liens forts dans ta ville
                mais
                aussi avec des membres venus d’ailleurs, des opportunités de te développer, le tout en créant des
                projets
                ayant un impact positif sur le monde!

                Nous sommes moteurs de changement et comptons sur toi pour nous aider sur cette voie!

            </p>
        </div>
        <div class="Comment">
            <h1>Comment devenir membre ?</h1>
            <p>
                Si tu te reconnais dans la description de la Jeune Chambre Internationale, nous t’encourageons à pousser
                la porte!

                Tout d’abord, tu assisteras à une réunion d’information et aura l’opportunité de devenir observateur. Tu
                pourras ainsi assister à toutes nos réunions et activités pour te faire ta propre idée du mouvement.

                Après cette période d’observation, si tu le désires, tu pourras demander à devenir candidat membre. Cela
                implique que tu commences à t’investir réellement au sein de la section et des activités (participation
                active au sein des commissions, suivi de formations,…). Bref, tu tu montres un intérêt réel pour notre
                mouvement et que tu t’impliques!
                Enfin, après cette période de candidature, si le conseil d’administration estime qu’il est temps pour
                toi de devenir membre de notre mouvement et que tu en partages les valeurs, il t’invitera à faire le
                point sur ton engagement et ta vision de la Jeune Chambre Internationale et à lui exprimer par écrit les
                raisons pour lesquelles tu voudrais devenir membre.
            </p>
        </div>

    </div>
    <div class="proceder">
        <h1>Comment procéder ?</h1>
        <p>
            D’abord il faut choisir l’Organisation Locale Membre (OLM) à laquelle tu va adhérer. Il y’a plus que 100
            OLMs dans le Territoire Tunisien réparties sur les 24 régions.a <a routerLink="/joinus"
                [routerLinkActive]="'active'">clique-ici</a>
        </p>
    </div>
</div>
<app-footer></app-footer>