<div class="conteneur" id="desktopVersion">
    <div class="image">
        <img width="500px" src="assets/images/15.jpg" alt="">
    </div>
    <div class="Mission">
        <h1>NOTRE VISION</h1>
        <h6>Être le premier réseau mondial de jeunes leaders:</h6>
        <p>
            Notre vision à la JCI est audacieuse et inspirante. Nous envisageons un monde où de jeunes leaders issus de
            milieux et de cultures divers, se rassemblent pour former un puissant réseau mondial. Nous aspirons à être
            la plateforme prééminente qui nourrit, habilite et connecte ces jeunes leaders, leur offrant des
            opportunités de croissance et d'impact inégalées. Être le réseau mondial de jeunes leaders le plus important
            signifie que nous ne sommes pas simplement une organisation ; nous sommes un mouvement.
            <span *ngIf="showMoreONQuiSommeNous">
                Nous sommes une force collective d'individus passionnés qui croient en la puissance de la jeunesse pour
                générer un changement positif. Nous visons à créer une communauté dynamique où les idées sont partagées,
                les rêves sont réalisés et les aspirations se concrétisent en actions tangibles. Dans ce réseau mondial,
                nous célébrons nos différences et embrassons notre objectif commun : faire une différence dans le monde.
                Nous transcendons les frontières des nations et des cultures car nous comprenons que les défis auxquels
                nous sommes confrontés sont de nature mondiale. En favorisant l'unité et la collaboration, nous
                exploitons la force collective de nos membres pour relever les défis pressants et créer des solutions
                durables.
            </span>
            <a class="read-more" (click)="toggleReadMoreForQuiSommeNous()">
                {{ showMoreONQuiSommeNous ? 'Read less' : 'Read more' }}
            </a>
        </p>
        <div class="missionlogo">
            <img src="assets/images/vision.png" alt="">
        </div>
    </div>

</div>
<div class="conteneur" id="mobileVesion">

    <div class="Mission">
        <h1>NOTR VISION</h1>
        <h6>To be the foremost global network of young leaders :</h6>
        <p>
            Our vision at JCI is bold and inspiring. We envision a world where young leaders from diverse backgrounds
            and cultures come together to form a powerful global network. We aspire to be the foremost platform that
            nurtures, empowers, and connects these young leaders
            <span *ngIf="showMoreONQuiSommeNous">
                providing them with unparalleled opportunities for growth and impact. Being the foremost global network
                of young leaders means that we are not just an organization; we are a movement. We are a collective
                force of passionate individuals who believe in the power of youth to drive positive change. We aim to
                create a vibrant community where ideas are shared, dreams are realized, and aspirations are turned into
                tangible actions. In this global network, we celebrate our differences and embrace our common goal: to
                make a difference in the world. We transcend the boundaries of nations and cultures because we
                understand that the challenges we face are global in nature. By fostering unity and collaboration, we
                harness the collective strength of our members to address pressing issues and create sustainable
                solutions.
            </span>
            <a class="read-more" (click)="toggleReadMoreForQuiSommeNous()">
                {{ showMoreONQuiSommeNous ? 'Read less' : 'Read more' }}
            </a>
        </p>
        <div class="missionlogo">
            <img src="assets/images/vision.png" alt="">
        </div>
    </div>
    <div class="image">
        <img width="500px" src="assets/images/15.jpg" alt="">
    </div>

</div>