<div class="conteneur">
    <div class="Mission">
        <h1>OUR MISSION</h1>
        <h6>To provide leqdership develpment oportunities :</h6>
        <p>
            To provide leadership development opportunities that empower young people to create positive change At the
            core of our existence lies a compelling mission that propels JCI Zouaouine forward: to provide leadership
            development opportunities that empower young people to create positive change. We are not merely an
            organization; We are architects of transformation, dedicated to sculpting a future where the youth of
            <span *ngIf="showMoreONQuiSommeNous">
                Zouaouine are not just passive spectators but active contributors to the betterment of society. Guided by a
            visionary commitment, our mission is a beacon calling on each member to embrace personal and professional
            growth. We believe in nurturing the skills, knowledge, and resilience necessary for our members to become
            impactful leaders in their communities and beyond. By aligning ourselves with JCI's Four Areas of
            Opportunity, encompassing Business and Entrepreneurship, Individual Development, Community Action, and
            International Cooperation, we provide a comprehensive platform where our members can thrive, fostering a
            community that values collaboration, innovation, and the unwavering pursuit of positive change. Join us on
            this journey of empowerment, where our mission becomes a collective endeavor to shape a brighter future—one
            where the echoes of our efforts resonate through the transformative power of leadership.
            </span>
            <a class="read-more" (click)="toggleReadMoreForQuiSommeNous()">
                {{ showMoreONQuiSommeNous ? 'Read less' : 'Read more' }}
            </a>
        </p>
        <div class="missionlogo">
            <img  src="assets/images/mission.png" alt="">
        </div>
    </div>
    <div class="image">
        <img width="500px" src="assets/images/2.jpg" alt="">
    </div>
</div>

