<div class="conteneur">
    <div class="Mission">
        <h1>NOTRE MISSION</h1>
        <h6>Offrir des opportunités de développement du leadership : </h6>
        <p>
            Pour offrir des opportunités de développement du leadership qui permettent aux jeunes de créer un changement
            positif. Au cœur de notre existence se trouve une mission captivante qui propulse JCI Zouaouine vers l'avant
            : offrir des opportunités de développement du leadership qui permettent aux jeunes de créer un changement
            positif. Nous ne sommes pas simplement une organisation ; nous sommes des architectes de la transformation,
            dédiés à sculpter un avenir où la jeunesse de Zouaouine ne sont pas seulement des spectateurs passifs, mais
            des contributeurs actifs à l'amélioration de la société.
            <span *ngIf="showMoreONQuiSommeNous">
                Guidés par un engagement visionnaire, notre mission est un phare appelant chaque membre à embrasser la
                croissance personnelle et professionnelle. Nous croyons en cultiver les compétences, les connaissances
                et la résilience nécessaires pour que nos membres deviennent des leaders influents dans leurs
                communautés et au-delà. En nous alignant sur les Quatre Domaines d'Opportunité de la JCI, englobant les
                domaines des affaires et de l'entrepreneuriat, du développement individuel, de l'action communautaire et
                de la coopération internationale, nous offrons une plateforme complète où nos membres peuvent prospérer,
                favorisant une communauté qui valorise la collaboration, l'innovation et la poursuite inébranlable du
                changement positif. Rejoignez-nous dans ce voyage d'autonomisation, où notre mission devient un effort
                collectif pour façonner un avenir plus lumineux, là où les échos de nos efforts résonnent à travers le
                pouvoir transformateur du leadership.
            </span>
            <a class="read-more" (click)="toggleReadMoreForQuiSommeNous()">
                {{ showMoreONQuiSommeNous ? 'Read less' : 'Read more' }}
            </a>
        </p>
        <div class="missionlogo">
            <img src="assets/images/mission.png" alt="">
        </div>
    </div>
    <div class="image">
        <img width="500px" src="assets/images/1.jpg" alt="">
    </div>
</div>