<app-navbar></app-navbar>
<div class="retour">
  <button mat-icon-button [routerLink]="'/devenirUnMembre'">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>  
<section class="conteneur-parent">
  <div class="conteneur">
    <div class="logo">
      <img width="200px" src="assets/images/ZouaouineLogoBleu.png" alt="logo">
    </div>
    <div class="title_1">
      <h1>MEMBERSHIP APPLICATION FOROM</h1>
    </div>
    <div class="formulaire">
      <div class="title">
        <h1>PERSONAL INFORMATION</h1>
      </div>
      <div class="form">
        <form name="JoinUsForm" [formGroup]="JoinUsForm">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="FirsLastName" matInput placeholder="First Name Last Name" type="text" required />
            <mat-error *ngIf="JoinUsForm.controls['FirsLastName'].hasError('required')">
              Name est obligatoire
            </mat-error>
            <mat-error *ngIf="JoinUsForm.controls['FirsLastName'].hasError('maxlength')">
              Name n'est pas valide
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input
              formControlName="DateOfBirth"
              matInput
              placeholder="Date Of Birth"
              [matDatepicker]="picker"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="JoinUsForm.controls['DateOfBirth'].hasError('required')">
              Date of Birth is required
            </mat-error>
            <mat-error
              *ngIf="
                JoinUsForm.controls['DateOfBirth'].hasError('pattern') &&
                !JoinUsForm.controls['DateOfBirth'].hasError('required')
              "
            >
              Date of Birth is not valid
            </mat-error>
          </mat-form-field>
          

          <mat-form-field class="full-width" appearance="fill">
            <mat-label> Email</mat-label>
            <input formControlName="Email" matInput placeholder="Email" type="text" />
            <mat-error *ngIf="JoinUsForm.controls['Email'].hasError('required')">
              Email est obligatoire
            </mat-error>
            <mat-error *ngIf="
                          JoinUsForm.controls['Email'].hasError('pattern') &&
                          !JoinUsForm.controls['Email'].hasError('required')
                        ">
              Email est non valide"
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input formControlName="phone" matInput placeholder="+216 23 456 711 " type="text" />
            <mat-error *ngIf="JoinUsForm.controls['phone'].hasError('required')">
              Phone Number is required
            </mat-error>
            <mat-error
              *ngIf="
                JoinUsForm.controls['phone'].hasError('pattern') &&
                !JoinUsForm.controls['phone'].hasError('required')
              "
            >
              Phone Number is not valid
            </mat-error>
          </mat-form-field>
          
          
          

          <mat-form-field class="full-width" appearance="fill">
            <mat-label> education</mat-label>
            <input formControlName="education" matInput placeholder="education" type="text" />
            <mat-error *ngIf="JoinUsForm.controls['phone'].hasError('required')">
              education est obligatoire
            </mat-error>
            <mat-error *ngIf="
                            JoinUsForm.controls['education'].hasError('pattern') &&
                            !JoinUsForm.controls['education'].hasError('required')
                          ">
              education est non valide"
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label> Profession Occupation</mat-label>
            <input formControlName="ProfOccupation" matInput placeholder="Profession Occupation" type="text" />
            <mat-error *ngIf="JoinUsForm.controls['phone'].hasError('required')">
              Profession est obligatoire
            </mat-error>
            <mat-error *ngIf="
                            JoinUsForm.controls['ProfOccupation'].hasError('pattern') &&
                            !JoinUsForm.controls['ProfOccupation'].hasError('required')
                          ">
              Profession est non valide"
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>How did you hear about JCI</mat-label>
            <mat-select formControlName="How" placeholder="Select an option">
              <mat-option value="Social Media">Social Media</mat-option>
              <mat-option value="option2">Referral</mat-option>
              <mat-option value="option3">Event</mat-option>
              <mat-option value="option3">Other</mat-option>
            </mat-select>
            <mat-error *ngIf="JoinUsForm.controls['How'].hasError('required')">
              How is required
            </mat-error>
            <mat-error *ngIf="
              JoinUsForm.controls['How'].hasError('pattern') &&
              !JoinUsForm.controls['How'].hasError('required')
            ">
              How is not valid
            </mat-error>
          </mat-form-field>
          

          <mat-form-field class="full-width" appearance="fill">
            <mat-label> Why atre you intersted</mat-label>
            <input formControlName="Why" matInput placeholder="Why atre you intersted in joining JCI ?" type="text" />
            <mat-error *ngIf="JoinUsForm.controls['phone'].hasError('required')">
              Why est obligatoire
            </mat-error>
            <mat-error *ngIf="
                            JoinUsForm.controls['Why'].hasError('pattern') &&
                            !JoinUsForm.controls['Why'].hasError('required')
                          ">
              Why est non valide"
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label> Interisting</mat-label>
            <input formControlName="Interisting" matInput
              placeholder="Are you interestedin taking a leadership role within JCI ? ?" type="text" />
            <mat-error *ngIf="JoinUsForm.controls['phone'].hasError('required')">
              Why est obligatoire
            </mat-error>
            <mat-error *ngIf="
                            JoinUsForm.controls['Interisting'].hasError('pattern') &&
                            !JoinUsForm.controls['Interisting'].hasError('required')
                          ">
              Why est non valide"
            </mat-error>
          </mat-form-field>
        </form>
      </div>

      <div class="submit">
        <button mat-raised-button class="button_valid" (click)="onSubmit()">SUBMIT</button>
      </div>

    </div>
   
  </div>

</section >
<section class="dev">
  <div class="devloppment">
    <img  src="assets/images/developing.png" alt="Team Image">
  </div>
</section>

