<div class="retour">
  <button mat-icon-button [routerLink]="'/devenirUnMembre'">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<section class="conteneur-parent">
  <div class="conteneur">
    <div class="logo">
      <img width="200px" src="assets/images/ZouaouineLogoBleu.png" alt="logo">
    </div>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSfYTw7l151YKNBtLFb-dJwOIQyVJ1T8bb0AOnPE4vJFkkkDdg/viewform?embedded=true"
      width="640" height="auto"  frameborder="0" marginheight="0" marginwidth="0">Chargement…
    </iframe>
  </div>
</section>
<section class="dev">
  <div class="devloppment">
    <img src="assets/images/developing.png" alt="Team Image">
  </div>
</section>