.conteneur-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-top: -100px;
}



.retour {
    margin-left: 20px;
    margin-top: 20px;
}

.retour button {
    background-color: transparent;
    border: none;
}

.retour button:hover {
    color: blue;
}

.conteneur-parent .conteneur {
    display: block;
    justify-content: center;
}

.conteneur-parent .conteneur .logo {
    display: flex;
    justify-content: center;
}



.dev {

    display: flex;
    justify-content: center;
}

.devloppment {
    justify-content: center;
    width: 60%;
    overflow: hidden;
    margin-bottom: 60px;
    margin-left: 5%;
}

.devloppment img {
    width: 100%;
    height: auto;
    display: block;
}


@media(max-width : 991px) {
    .conteneur-parent {
        padding-top: 0px;
        margin-top: 0px;
    }

    .conteneur-parent .conteneur {
        width: 80%;
    }
}

@media(max-width : 768px) {
    iframe{
        width: 100%;
    }
}