
<div class="conteneur">
    <div class="credoText">
        <h1>Notre Credo</h1>
        <p>Nous croyons :</p>
        <ul>
            <li>Que la foi en Dieu donne à la vie son véritable sens ;</li>
            <li>Que la fraternité humaine transcende la souveraineté des nations ;</li>
            <li>Que la liberté des individus et de l’entreprise assure mieux la justice économique ;</li>
            <li>Que l’autorité doit s’appuyer sur la loi et non sur l’arbitraire ;</li>
            <li>Que la personne humaine est la plus précieuse des richesses ;</li>
            <li>Et que servir l’humanité constitue l’oeuvre la plus noble d’une vie.</li>
        </ul>
        <img width="800px" src="assets/images/Credologo.png" alt="Credologo">
    </div>
    <div class="credoimg">
        <img  src="assets/images/credo.jpg" alt="Credo">
    </div>
</div>
