<section>
  <div class="slideshow-container">
    <div class="mySlides" *ngFor="let photo of galerie; let i = index">
      <div class="numbertext">{{ i + 1 }} / {{ galerie.length }}</div>
      <img width="100%" [src]="photo.URl" alt="logo">
      <div class="text">Album photos</div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" *ngFor="let photo of galerie; let i = index" (click)="currentSlide(i + 1)"></span>
  </div>
</section>
