<!-- <app-navbar></app-navbar> -->
<ul>
    <li><a routerLink="/test" [routerLinkActive]="'active'">portfelio<span class="tooltiptext">JOIN-US</span></a>
    </li>
    <li><a routerLink="/Acceuil" [routerLinkActive]="'active'"> HOME <span class="tooltiptext">HOME</span></a></li>
    <li><a routerLink="/about" [routerLinkActive]="'active'">About Us <span class="tooltiptext">About Us</span></a>
    </li>
    <li><a routerLink="/NOSACTIONS" [routerLinkActive]="'active'">NOS ACTIONS <span class="tooltiptext">NOS
          ACTIONS</span></a></li>
    <li><a routerLink="/joinus" [routerLinkActive]="'active'">JOIN-US<span class="tooltiptext">JOIN-US</span></a>
    </li>
  </ul>
<app-qui-somme-nous-for-acceuil></app-qui-somme-nous-for-acceuil>
 <!-- <app-why-jci-for-acceuil></app-why-jci-for-acceuil>  -->
 <app-why-section></app-why-section>
 <app-join-us-section></app-join-us-section>
<app-foundation-for-acceuil></app-foundation-for-acceuil>
<app-cards-for-acceuil></app-cards-for-acceuil>
<app-ourprojectfor-acceuil></app-ourprojectfor-acceuil>
<app-footer></app-footer> 