/*start qui somme nous */
.nousomme {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 50%;
    left: 5px;
    top: 40px;
    padding: 10px;

}

.nousomme .titre h1 span {
    font-weight: bolder;
    display: block;
    font-size: 70px;
}

.nousomme .paragraphe p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    display: block;
}

.more {
    display: flex;
}

.more .btn-more .read-more {

    padding: 5px 20px;
    background-color: white;
    border-color: #3A67B1;
    color: #3A67B1;
    box-shadow: 0 0 5px #3A67B1; /* Suppression de la virgule en trop */
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 20px;
}

.more .btn-more .read-more:hover {
    box-shadow: 
        0 0 5px #3A67B1,
        0 0 25px #3A67B1,
        0 0 50px #3A67B1,
        0 0 100px #3A67B1,
        0 0 200px #3A67B1; /* Correction de la virgule en trop et ajout de "#" après "c" dans la couleur */
}

.nousomme .team {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 100%;
    align-items: center;
    justify-content: center;
    top: 50px
}

.nousomme .team img {
    width: 90%;
    height: 90%;
}

@media(max-width: 840px) {

   

}




/*meduim*/
@media(min-width: 992px) {
    .head {
        width: 970px;
    }

}



/*end qui somme nous */

/* start why jci  */
.Why {
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.Why .contain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.Why .contain .why-jci {
    width: 100%;
    height: 300px;
    margin-right: 100%;
    margin-left: 10px;
    border-radius: 0% 50% 50% 0%;
    background-color: #56BDA3;
}

.Why .contain .why-jci .title {
    margin-top: 40px;
    margin-left: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.Why .contain .why-jci .text {
    margin-top: 10px;
    margin-left: 90px;
    padding: 0 10px;
}

.Why .contain .why-jci .text span {
    color: #fff;
    display: block;
}

.Why .contain .why-jci .btn-why-jci {
    margin-left: 70px;
    margin-top: 20px;
}

.Why .contain .why-jci .btn-why-jci button {
    padding: 5px 20px;
    background-color: white;
    border-color: #EDBE38;
    border-radius: 20px;
    font-weight: bolder;
    color: #EDBE38;
}
.Why .contain .why-jci .btn-why-jci button:hover {
    background-color: #f1ebd8;

}

.Why .contain .jci-logo {
    width: 100%;
    display: flex;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
}

.Why .contain .jci-logo .logo {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.Why .contain .jci-logo .logo img {
    display: block;
    margin-top: -120px;
    width: 700px;
    height: 700px;
}

.Why .contain .joinus {
    position: relative;
    width: 100%;
    height: 300px;
    margin-left: 100%;
    border-radius: 50% 0% 0% 50%;
    background-color: #56BDA3;
}

.joinus .text {
    margin-top: 50px;
    margin-left: 60px;
    display: block;
    position: relative;

}

.joinus .text span {
    display: block;
    font-family: 'Monotype Corsiva', cursive;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.joinus .text .kenedy {
    margin-left: 100px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.joinus .btn-joinus {

    margin-left: 100px;
    margin-top: 20px;

}

.joinus .btn-joinus button {

    padding: 5px 20px;
    background-color: white;
    border-color: #EDBE38;
    border-radius: 20px;
    font-weight: bolder;
    color: #EDBE38;

}
.joinus .btn-joinus button:hover {
    background-color: #f1ebd8;

}



/*end qui somme nous */

/* end why jci  */

/* start fouder prespective */
.cont .founders {
    position: relative;
    /* margin-top: -150px; */
}

.cont .founders .content {
    text-align: center;
   
}

.cont .founders .content .top-bar{
    /* position: absolute; */
    position:relative;
    margin-left: 45%;
    margin-right: 45%;
    background-color: #3A67B1
    ;
    height: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.cont .founders .content .title {
    margin-top: 20px;
}

.cont .founders .content .text {
    margin-top: 20px;
    /* Adjust this value as needed */
}


.cont .founders .content .text span {
    display: block;
}

/* end fouder prespective */

/* start cards */
.cartes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #3f51b5;
    /* Couleur personnalisée */
    font-size: 54px;
    /* Taille personnalisée */
}


.card {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.card .card-body .logocard img {
    width: 50px;
    height: 50px;
}

.card .card-body .titre {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 15px;
    color: black;
}

.card .card-body .text {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.card .card-body .btn-resd-more button {
    padding: 5px 20px;
    background-color: white;
    border-color: #EDBE38;
    border-radius: 20px;
    font-weight: bolder;
    color: #EDBE38;
}
.card .card-body .btn-resd-more button:hover {
    background-color: #f1ebd8;
}

.card1 {
    background-color: #51C4D3;
}

.card2 {
    background-color: #EDBE38;
}

.card3 {
    background-color: #51C4D3;
}


/* end cards */

/* start our poject  */
.notre-projet .prigect {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 100px;

}

.notre-projet .prigect .ouer-project .title {
    margin-left: 30px;
    position: relative;
    border-top: 0.3cm solid purple;
    margin-right: calc((100% - 3cm) - 10px);
    padding-top: 10px;

}

.notre-projet .prigect .ouer-project .paragraphe {
    margin-left: 30px;
    position: relative;

}

.notre-projet .prigect .ouer-project .paragraphe span {
    display: block;
    font-family: 'Arial', sans-serif;
    /* Algerian font or your preferred font */
    font-size: 11px;
    font-size: 20px;
    line-height: 1.5;
    /* Adjust the line height as needed */
}

.notre-projet .prigect .ouer-project .btn-our-project {
    margin-left: 20px;
}

.notre-projet .prigect .ouer-project .btn-our-project button {
    padding: 5px 20px;
    background-color: white;
    border-color: #EDBE38;
    border-radius: 20px;
    font-weight: bolder;
    color: #EDBE38;
}
.notre-projet .prigect .ouer-project .btn-our-project button:hover {
    background-color: #f1ebd8;
}

.notre-projet .prigect .photos {
    display: flex;
    flex-wrap: wrap;
}

.notre-projet .prigect .photos .imgs {
    flex: 0 0 calc(50% - 20px);
    margin: 5px;
    overflow: hidden;
    width: 100%;

}

.notre-projet .prigect .photos .imgs img {
    width: 100%;
    padding: 20px;
    text-align: center;

}
.devloppment {
    width: 100%;
    overflow: hidden; 
}

.devloppment img {
    width: 100%;
    height: auto;
    display: block;
}
/* end our poject  */

/*small*/
@media(max-width: 768px) {
    .nousomme .titre h1 span {
        font-size: 50px;
    }

    .nousomme .team {
        display: none;
        width: 10px;
        height: 10px;
    }

    .more .read-more {
        width: 150px;

    }

    .more .contact-us {
        width: 150px;
    }

    .cont .founders {
        position: relative;
        margin-top: 0px;
    }

    .cartes .cart {
        display: block;
        justify-content: center;
        align-items: center;
    }

   
}


/*meduim*/
@media(max-width: 900px) {
    .Why .contain {
        display: block;
        align-items: center;
        justify-content: center;
    }

    /* ################################################# */
    .Why .contain .why-jci {
        width: 100%;
        border-radius: initial;
        display: flex;
        background-color: #56BDA3;
        flex-direction: column;
        /* Assurez-vous que le contenu est empilé verticalement */
        justify-content: center;
        align-items: center;
    }

    .Why .contain .why-jci .title {
        margin-top: 0px;
        margin-left: 0px;
    }

    .Why .contain .why-jci .title h1 {
        display: flex;
        margin-left: 25px;
        margin-top: 50px;
        font-weight: bolder;
    }

    .Why .contain .why-jci .text {
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;


    }

    .Why .contain .why-jci .text span {
        color: #fff;
        margin-left: 100px;

    }

    .Why .contain .why-jci .btn-why-jci {
        margin-left: 0px;
    }

    /* #################################################### */


    /* ########################################################## */


    .Why .contain .jci-logo {
        width: 100%;
        border-radius: initial;
        /* ou border-radius: unset; */
        display: flex;
        margin-left: 0;
        background-color: initial;
        flex-direction: column;
        /* Assurez-vous que le contenu est empilé verticalement */
        justify-content: center;
        align-items: center;


    }

    .Why .contain .jci-logo .logo {
        width: 100%;
    }

    .Why .contain .jci-logo .logo img {
        display: block;
        margin-top: 25px;
        width: 300px;
        height: 300px;
    }

    /* ###############################################" */
    .Why .contain .joinus {
        width: 100%;
        border-radius: initial;
        display: flex;
        margin-left: 0;
        background-color: #56BDA3;
        justify-content: center;
        align-items: center;
    }

    .joinus .text {
        position: absolute;
        margin-left: 60px;
        margin-top: initial;
    }

    .joinus .text span {
        color: #fff;
    }
    .joinus .text .kenedy {
        margin-left:0px;
        
    }

    .joinus .btn-joinus  {
        display: flex;
        margin-left: initial;
        margin-top: initial;
        position: relative;
        top: 7rem;

    }
    .joinus .btn-joinus button {
        margin-left: -20px;
        

    }

    .cont .founders {
        position: relative;
        margin-top: 200px;
    }

    /* ############################################################### */
}

/*large*/
@media(min-width: 1200px) {
    .head {
        width: inherit;
    }

    .navbar {
        display: none;
    }
}