<!-- start header  -->
<header>
    <div class="container">
        <a href="#" class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        <nav>
            <mat-icon class="toggle-menu">menu</mat-icon>
            <ul>
                <li><a class="active" href="#"> HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">NOS ACTIONS</a></li>
                <li><a href="#">JOIN uS</a></li>


            </ul>
            <mat-form-field class="example-form-field">
                <!-- Utilisez le composant mat-input pour le champ de recherche -->
                <input matInput>
                <!-- Ajoutez l'icône de recherche à la fin du champ de recherche -->
                <mat-icon>search</mat-icon>
            </mat-form-field>

        </nav>
    </div>
</header>
<!-- end header -->

<!-- Start qui somme nous -->
<div class="nousomme">
    <div class="titre">
        <h1>
            <span>QUI SOMMES</span>
            <span>NOUS ??</span>
        </h1>
        <div class="paragraphe">
            <p>La Jeune Chambre Internationale est un mouvement de jeunes
                entrepreneurs de 18 à 40 ans. Notre section liégeoise s’intègre
                dans un réseau mondial structuré présent dans près de 200 pays
                et regroupant au total 200.000 citoyens actifs.</p>
        </div>
        <div class="more">
            <button class="read-more">READ MORE</button>
            <button  class="contact-us">CONTACT US</button>
        </div>
    </div>
    <div class="team">
       
    </div>
</div>
<!-- end qui somme nous -->

<!-- start why jci -->
<section class="section2">
    <div class="why-jci">

    </div>
    <div class="jci-log">

    </div>
    <div class="join-us">
        
    </div>

</section>
<!-- end why jci -->

