
<app-navbar></app-navbar>
<!-- Start qui somme nous -->
<section >
    <div class="nousomme">
        <div class="titre">
            <h1>
                <span>QUI SOMMES</span>
                <span>NOUS ??</span>
            </h1>
            <div class="paragraphe">
                <p>
                    <span>La Jeune Chambre Internationale est un mouvement de jeunesentrepreneurs</span>
                    <span>La Jeune Chambre Internationale est un mouvement de jeunesentrepreneurs </span>
                    <span>de 18 à 40 ans.La Jeune Chambre Internationale est un mouvement de jeunes</span>
                    <span> entrepreneurs de 18 à 40 ans. Notre section liégeoise s’intègre dans un </span>
                    <span>réseau mondial structuré présent dans près de 200 pays et regroupant </span>
                    <span>au total 200.000 citoyens actifs.</span>
                </p>
                     
            </div>
            <div class="more">
                <div class="btn-more">
                    <div>
                        <button class="read-more">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <img src="assets/images/team.png" alt="Team Image">
        </div>
    </div>
</section>

<!-- end qui somme nous -->

<!-- start why jci -->
<section >
    <div class="Why">
        <div class="contain">
            <div class="why-jci">
                <div class="title">
                    <h1> WHY JCI</h1>
                </div>
                <div class="text">
                        <span>junior chambre</span>
                        <span>Internationale(JCI) is a</span>
                        <span>wordwide federation of</span>
                        <span>young leaders end entrepreneurs</span>
                </div>
                <div class="btn-why-jci">
                    <button>Read more</button>
                </div>
            </div>
            <div class="jci-logo">
                <div class="logo">
                    <img src="assets/images/logo-jci.png" alt="logo">
                </div>
                
            </div>
            <div class="joinus">
                <div class="text">
                        <span>"Harvard gave me an</span>
                        <span>education but junior</span>
                        <span>chambre gave me education</span>
                        <span>for life" </span>
                        <span class="kenedy">JOHN KENEDY </span>
                </div>
                <div class="btn-joinus">
                    <button>JOIN US</button>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- end why jci -->

<!-- /* start founders */ -->

<section class="cont">
    <div class="founders ">
        <div class="content">
            <div class="top-bar"></div>
            <div class="title">
                <h1>FOUNDERS PERSPECTIVE</h1>
            </div>
            <div class="text">
                <span>From within the walls of the soul of this organization wherein the foundation </span>
                <span>of character and good citizenship are laid.</span>
            </div>
        </div>
    </div>
</section>

<!-- /* end  founders */ -->

<!-- /* start cards */ -->

<div class="cartes">
    <div class="cart row ">
        <div class="col-md-4">
            <div class="card1 card text-center">
                <div class="card-body">
                   <div class="logocard">
                    <mat-icon class="icon">flight</mat-icon>
                   </div>
                   <div class="titre">
                    <h3> OUR MISSION</h3>
                   </div>
                   <div class="text">
                    <p>To provide leqdership develpment oportunities</p>
                   </div>
                   <div class="btn-resd-more">
                    <button>RED MORE</button>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card2 card text-center">
                <div class="card-body">
                    <div class="logocard">
                        <mat-icon class="icon">star</mat-icon>
                    </div>
                    <div class="titre">
                     <h3> OUR CREED's</h3>
                    </div>
                    <div class="text">
                     <p>To provide leqdership develpment oportunities</p>
                    </div>
                    <div class="btn-resd-more">
                     <button>RED MORE</button>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" card3 card text-center">
                <div class="card-body">
                    <div class="logocard">
                        <mat-icon class="icon">visibility</mat-icon>


                    </div>
                    <div class="titre">
                     <h3> OUR VISION</h3>
                    </div>
                    <div class="text">
                     <p>To provide leqdership develpment oportunities</p>
                    </div>
                    <div class="btn-resd-more">
                     <button>RED MORE</button>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

<!-- /* end cards */ -->


<!-- start our project  -->
<section class="notre-projet">
    <div class="prigect row justify-content-between">
        <div class="ouer-project col-md-6">
            <div class="title">
                <h1> OUR PROJECT </h1>
            </div>
            <div class="paragraphe">
                <p>
                    <span>the leadership devlepment intiative within JCI , </span>
                    <span>is a grounbreaking endavor designed to empower young </span>
                    <span>  is a grounbreaking endavor designed to empower young </span>
                    <span>individuals with essential skills, knowledg, and experience </span>     
                </p>
            </div>
            <div class="btn-our-project">
                <button>Read more</button>
            </div>
        </div>
        <div class="photos col-md-6">
            <div class="imgs">
                <img src="assets/images/proj1.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/proj2.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/proj3.jpg" alt="logo">
            </div>
            <div class="imgs">
                <img src="assets/images/proj4.jpg" alt="logo">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="devloppment">
        <img src="assets/images/developing.png" alt="Team Image">
    </div>
</section>
<!-- start our project  -->
<app-footer></app-footer>
