.conteneur {
  width: 100%;
  display: block;
  /* justify-content: space-between; */
  padding: 0 0;
  /* background: linear-gradient(to bottom, #EDBE38, #fff); */
}
.retour{
  margin-left: 20px;
  padding-top: 20px ;

}

.retour button{
 background-color: transparent;
 border: none;
}
.retour button:hover{
 color: blue;
 }
 

.conteneur .action {
  width: 90%;
}

.conteneur .action .title {
  width: 100%;
  position: relative;
}

.conteneur .action .title h1 {
  margin-top: 50px;
  margin-left: 20px;
}

.conteneur .action .soustitle {
  width: 100%;
  position: relative;
}

.conteneur .action .soustitle h4 {
  margin-top: 30px;
  margin-left: 30px;
}

.conteneur .action .description {
  width: 100%;
  position: relative;
}

.conteneur .action .description p {
  margin-top: 30px;
  text-align: justify;
  margin-left: 30px;
}
.photos{
  margin-top: 30px;
}

@media(max-width : 991px) {
  .photos{
    width: 97%;
    margin-left: 5%;
   
  }
  .photos app-slide-show-photo-for-one-action{
    width: 100%;
  }
}
 @media(max-width : 768px) {
  .conteneur{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .conteneur .action .title h1 {
    margin-top: 20px;
    margin-left: 20px;
  }
  .photos{
    margin-left: 7%;
  }
  .photos app-slide-show-photo-for-one-action{
    width: 100%;
  }
  
}

