<div class="conteneur">
    <div class="retour">
        <button mat-icon-button [routerLink]="'/NOSACTIONS'">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="action">
        <div class="title">
            <h1>{{ action.titre }}</h1>
        </div>
        <div class="soustitle">
            <h4>Description : </h4>
        </div>
        <div class="description">
            <p>{{ action.description }}</p>
        </div>
        <div class="photos">
            <app-slide-show-photo-for-one-action [actionId]="action.IdAction"></app-slide-show-photo-for-one-action>
        </div>
    </div>
  