<div class="conteneur" *ngFor="let data of action">
    <div class="action">
        <div class="title">
            <h1>{{ data.titre }}</h1>
        </div>
        <div class="soustitle">
            <h4>Description</h4>
        </div>
        <div class="description">
            <p>{{ data.description }}</p>
        </div>
        <div class="imageGalerie">
            <div class="conteneur" *ngFor="let image of images; let i = index">
              <!-- Utilisez la directive (click) pour déclencher la fonction open -->
              <a href="{{ image.src }}" (click)="open(i)">
                <img [src]="image.src" style="width: 100%" alt="{{ image.caption }}">
              </a>
            </div>
          </div>


    </div>
    <div class="histprique">
        <div class="title">
            <h2>OUR HiSTORIQ</h2>
        </div>
        <mat-card-content>
            <div class="conteneur">
                <div class="cartes">
                    <div class="carte" *ngFor="let data of action">
                        <div class="Action">
                            <div class="title_action">
                                <h1>{{ data.titre }}</h1>
                            </div>
                            <div class="carte_content">
                                <span class="text">{{ data.date }}</span>
                            </div>
                            <div class="carte_content">
                                <span class="text">{{ data.lieu }}</span>
                            </div>
                            <div class="carte_content">
                                <span class="text">{{ data.type }}</span>
                            </div>
                            <div class="carte_content">
                                <img src="assets/images/6.jpg" alt="logo">
                            </div>
                            <div class="carte_content_btn">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </div>

   