<app-side-nav-bar></app-side-nav-bar>
<app-navbar></app-navbar>
<section>
    <div class="conteneur">
        <div>
            <!-- <div class="topbar"></div>
            <h1>OUR PROJECTS</h1> -->
        </div>
        <div class="image">
            <img src="assets/images/teamwork1.png" alt="team image">
        </div>
    </div>
    <div class="ourProject">
        <div>
            <div class="topbar"></div>
            <h1> <span>OUR PROJECTS</span></h1>
        </div>
        <div class="text">
            <div class="title">
                <h2>Last Project</h2>
                <div class="cercle"></div>
            </div>
            <div class="sous-text">
                <span>Junior Chamber International (JCI) is an international organization that</span>
                <span>provides young people</span>
                <span> with opportunities for personal and professional development,</span>
                <span> leadership training, and community engagement</span>
            </div>
        </div>
    </div> 
   <app-albom-photos></app-albom-photos>
   <app-all-action></app-all-action>
</section>
<app-footer></app-footer>