section {
  width: inherit;
  /* background: linear-gradient(to bottom, #EDBE38, #0097D7); */
  padding-top: 100px;
  margin-top: 50px;
}

.conteneur {
  display: flex;
  justify-content: space-between;
}

.ourProject {
  width: 100%;
  margin-top: -200px;
  width: 90%;
  margin-left: 10%;
}

.ourProject .text {
  margin-top: 40px;
}

.ourProject .topbar {
  font-weight: bolder;
  display: block;
  font-size: 70px;
  border-top: 0.3cm solid purple;
  margin-right: calc((100% - 3cm) - 10px);

}

.ourProject h1 {
  font-weight: bolder;
  display: block;
  font-size: 70px;
}

.ourProject h1 span {
  display: block;

}

.ourProject .text .title {
  position: relative;
  margin-bottom: 20px;
}

.ourProject .text .title h2 {
  position: relative;
  font-weight: bolder;
  display: block;
  font-size: 50px;
}

.ourProject .text .title .cercle {
  width: 100px;
  /* Ajustez la taille du cercle selon vos besoins */
  height: 100px;
  /* Assurez-vous que width et height soient égaux pour un cercle */
  border: 20px solid #0097D7;
  /* Épaisseur et couleur du contour du cercle */
  border-radius: 50%;
  /* Bordure pour rendre le div circulaire */
  position: absolute;
  margin-top: -4%;
  left: 38%;
  transform: translate(-50%, -50%);

}

.ourProject .text span {
  width: 100%;
  font-size: 30px;
  display: block;
}


@media(max-width : 991px) {
  .ourProject .text .title .cercle {
    display: none;

  }

}
@media(max-width : 768px) {
  section {
    padding-top: 00px;
    margin-top: 0px;
  }
  .conteneur {
    display: block;
    overflow: hidden;
  }

  .conteneur .image {
    width: 100%;
  }

  .conteneur .image img {
    width: 100%;
  }

  .ourProject {
    margin-left: 10%;
    margin-top: 60px;
    width: 90%;

  }

  .ourProject h1 {
    margin-top: 5px;
    font-size: 40px;
  }

  .ourProject .text .title h2 {
    font-size: 30px;
  }

 

  .ourProject .text span {
    width: 90%;
    font-size: 20px;
  }

  .container {
    width: 100%;
  }
  .column {
    margin-top: 5px;
  }
  
  .carte-Action {
    align-content: center;
  }
  .carte-Action .carte_content_img img{
    width: calc(100% + 50px);
   }
   .carte-Action .carte_content_btn{
    width: calc(100% + 50px);
 
   }

}