<app-side-nav-bar></app-side-nav-bar>
<app-navbar></app-navbar>
<section>
    <div class="conteneur">
        <div>
            <!-- <div class="topbar"></div>
            <h1>OUR PROJECTS</h1> -->
        </div>
        <div class="image">
            <img src="assets/images/teamwork1.png" alt="team image">
        </div>
    </div>
    <div class="ourProject">
        <div>
            <div class="topbar"></div>
            <h1> <span>NOS ACTIONS</span></h1>
        </div>
        <div class="text">
            <div class="title">
                <h2>OLM ZOUAOUINE</h2>
            </div>
            <div class="sous-text">
                <p>
                    <span> Au cœur de la JCI ZOUAOUINE réside une dynamique d'actions, un ensemble de initiatives
                        déterminées visant àconcrétiser sa mission et à générer un impact significatif. Les actions, qu'elles soient
                        orientées versle développement personnel, la croissance professionnelle, le leadership, ou l'engagement
                        communautaire,constituent le moteur propulsant l'organisation vers l'avant. Elles incarnent la concrétisation
                        des valeurs et des objectifs, créant ainsi un socle solide sur lequel repose la réussite de notre
                        OLM.
                    </span>
                    <span>&nbsp;&nbsp;</span>
                    <span> Le rôle des actions au sein de notre OLM va bien au-delà de simples gestes ; elles
                        représentent les jalons concrets qui matérialisent la vision et la mission de l'entité. Chaque action, qu'elle
                        soit individuelle ou collective, contribue à tisser la trame d'une histoire en constante évolution.Elles
                        reflètent l'engagement, la détermination, et la volonté d'impact positif incarnés par les membres de
                        L'OLM.
                    </span>
                    <span>&nbsp;&nbsp;</span>
                    <span>
                        L'importance des actions réside également dans leur capacité à catalyser le changement. En
                        orchestrant
                        des projets concrets et significatifs, notre OLM forge sa réputation et son influence au sein de la
                        communauté. Les actions sont le moyen par lequel une organisation transforme ses idées en résultats
                        tangibles, renforçant ainsi sa légitimité et sa pertinence.
                    </span>


                 
                </p>

            </div>
        </div>
    </div>
    <app-albom-photos></app-albom-photos>
    <app-all-action></app-all-action>
</section>
<app-footer></app-footer>