/* start why jci  */
.Why {
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.Why .contain {
    width: 100%;
    display: flex
}
.Why .contain .why-jci {
    height: 300px;
    width: 300px;
    border-radius: 0% 50% 50% 0%;
    background-color: #56BDA3;
}

.Why .contain .why-jci .title {
    margin-top: 40px;
    margin-left: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.Why .contain .why-jci .text {
    margin-top: 10px;
    margin-left: 50px;
    padding: 0 10px;
}

.Why .contain .why-jci .text span {
    color: #fff;
    display: block;
}

.Why .contain .why-jci .btn-why-jci {
    margin-left: 20%;
    margin-top: 20px;
}

.Why .contain .why-jci .btn-why-jci button {
    padding: 5px 20px;
    background-color: white;
    border-color: #EDBE38;
    border-radius: 20px;
    font-weight: bolder;
    color: #EDBE38;
}
.Why .contain .why-jci .btn-why-jci button:hover {
    background-color: #f1ebd8;
}

.Why .contain .jci-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.Why .contain .jci-logo .logo img {
    margin-top: -70px;
    width: 500px;
    height: 500px;
}
.Why .contain .joinus {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: auto;
    border-radius: 50% 0% 0% 50%;
    background-color: #56BDA3;
}
.joinus .text {
    margin-top: 50px;
    margin-left: 60px;
    display: block;
    position: relative;
}

.joinus .text span {
    display: block;
    font-family: 'Monotype Corsiva', cursive;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.joinus .text .kenedy {
    margin-left: 80px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.joinus .btn-joinus {

    margin-left: 100px;
    margin-top: 20px;

}

.joinus .btn-joinus button {

    padding: 5px 20px;
    background-color: white;
    border-color: #EDBE38;
    border-radius: 20px;
    font-weight: bolder;
    color: #EDBE38;

}
.joinus .btn-joinus button:hover {
    background-color: #f1ebd8;

}



/* end why jci  */

/*meduim*/
@media(max-width: 968px) {
    .Why .contain {
        width: 97%;
    }
    .Why .contain .why-jci {
        width: 500px;
    }
    .Why .contain .why-jci .text {
        margin-top: 20px;
        margin-left: 30px;
        padding: 0 0px;
    }
    .Why .contain .why-jci .btn-why-jci {
        margin-left: 12%;
        margin-top: 40px;
    }
    .Why .contain .jci-logo {
        width: 40%;
    }

    .Why .contain .joinus {
        width: 500px
    }
    .joinus .text .kenedy {
        margin-left: 100px;
        margin-top: -10px;
        font-family: 'Poppins', sans-serif;
    }
   
    
   

    /* ############################################################### */
}
@media(max-width: 768px) {
    .Why .contain {
        display: block;
        padding-bottom: 0px;
        justify-content: center;
        width: 97%;
    }
    
    /* ################################################# */
    .Why .contain .why-jci {
        border-radius: initial;
        display: flex;
        background-color: #56BDA3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        width: auto;
    }

    .Why .contain .why-jci .title {
        margin-top: 0px;
        margin-left: 0px;
    }
    .Why .contain .why-jci .title h1 {
        margin-left: 25px;
        font-weight: bolder;
    }

    .Why .contain .why-jci .text {
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .Why .contain .why-jci .text span {
        color: #fff;
        margin-left: 100px;

    }

    .Why .contain .why-jci .btn-why-jci {
        margin-left: 0px;
    }

    /* #################################################### */


    /* ########################################################## */


    .Why .contain .jci-logo {
        width: auto;
    }

    .Why .contain .jci-logo .logo img {
        margin-top: 25px;
        width: 300px;
        height: 300px;
    }

    /* ###############################################" */
    .Why .contain .joinus {
        width: auto;
        border-radius: initial;
        display: flex;
        margin-left: 0;
        background-color: #56BDA3;
        justify-content: center;
        align-items: center;
    }

    .joinus .text {
        position: absolute;
        margin-left: 60px;
        margin-top: initial;
    }

    .joinus .text span {
        color: #fff;
    }
    .joinus .text .kenedy {
        margin-left:0px;
        
    }

    .joinus .btn-joinus  {
        display: flex;
        margin-left: initial;
        margin-top: initial;
        position: relative;
        top: 7rem;

    }
    .joinus .btn-joinus button {
        margin-left: -20px;
    }

    /* ############################################################### */
}