<!-- start why jci -->
<section>
    <div class="Why">
        <div class="contain">
            <div class="why-jci">
                <div class="title">
                    <h1> WHY JCI</h1>
                </div>
                <div class="text">
                    <span>junior chambre</span>
                    <span>Internationale(JCI) is a</span>
                    <span>wordwide federation of</span>
                    <span>young leaders end entrepreneurs</span>
                </div>
                <div class="btn-why-jci">
                    <button routerLink="/about" [routerLinkActive]="'active'">Read more</button>
                </div>
            </div>
            <div class="jci-logo">
                <div class="logo">
                    <img src="assets/images/logo-jci.png" alt="logo">
                </div>

            </div>
            <div class="joinus">
                <div class="text">
                    <span>"Harvard gave me an</span>
                    <span>education but junior</span>
                    <span>chambre gave me education</span>
                    <span>for life" </span>
                    <span class="kenedy">JOHN KENEDY </span>
                </div>
                <div class="btn-joinus">
                    <button routerLink="/joinus" [routerLinkActive]="'active'">JOIN US</button>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- end why jci -->
