.slegon {
    display: flex;
    margin-bottom: 50px;
    height: 300px;
}

.slegon .sage {
    position: relative;
    width: 40%;
    background-color: black;
}

.slegon .sage p {
    color: #555;
    margin-top: 20%;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
}

.slegon .sous-section {
    display: flex;
    position: relative;
    width: 100%;
    border-left: 100px solid black;
    border-bottom:300px solid transparent ;
}
.slegon .sous-section .image{
 position: relative;
 }
.slegon .sous-section .image img{
    width: 300px;
    margin-top: 20px;
 }
.slegon .sous-section h1 {
    margin-top: 5%;
    color: #e2dbdb;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
}


@media(max-width : 767px) {
    .slegon {
       flex-direction: column;
        margin-bottom: 50px;
        margin-bottom: 100px;
    }
    .slegon .sage {
        width: 100%;
        min-height: 200px;
        text-align: center;
       
       
    }
    .slegon .sage p {
        margin-top: 10%;
        margin-left: 0px;
        font-size: 20px;
        
    }
    .slegon .sous-section {
        width: 100%;
        min-height: 300px;
        flex-direction: column;
        border-left: none;
        border-bottom:none;
        text-align: center;
      
        
    }
    .slegon .sous-section h1 {
        position: absolute;
        margin-top: 10%;
        font-size: 30px;
   
    }
    .slegon .sous-section .image {
     display: none;
    }
    
}
