/* start couverture */

.couverture {
    height: 100%;
    margin: 0;
    margin-top: -200px;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    text-align: center;
}

.welcome .centered p {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: aliceblue;
}

.wave {
    position: absolute;
    top: 95%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    height: auto;

}



/* end couverture */

/* start qui nous somme  */
.nousomme {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;

}

.nousomme .conteneur {
    width: 100%;
    margin-left: 20px;
}

.nousomme .conteneur .qui-nous {
    width: 100%;
}

.nousomme .conteneur .qui-nous h1 span {
    font-weight: bolder;
    display: block;
    font-size: 70px;
}

.nousomme .qui-nous .paragraphe {
    width: 100%;

}

.nousomme .qui-nous .paragraphe p {
    color: #444;

    text-align: justify;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}

.nousomme .qui-nous .paragraphe p a {
    cursor: pointer;
}

.nousomme .team {
    width: 100%;
    margin-left: 20px
}

.nousomme .team img {
    width: 90%;
}

@media(max-width : 991px) {

    .welcome .centered p {
        position: absolute;
        bottom: 0%;
        margin-top: 100px;

    }

    .nousomme {
        display: block;
        width: 90%;
    }

    .nousomme .conteneur .qui-nous .paragraphe {
        margin-right: 60px;
    }

}

@media(max-width : 767px) {
    .couverture {
        margin-top: -40px;
        position: relative;
        text-align: center;
        padding-top: 50px;
    }

    .welcome {
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        text-align: center;
    }

    .welcome .centered p {
        position: absolute;
        bottom: 0%;
        margin-top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: aliceblue;
    }

    .nousomme {
        padding-top: 100px;
    }
    .nousomme .team {
        width: 100%;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        
        
    }
}

/* end qui nous somme  */