/* start qui nous somme  */
.nousomme {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
   
   }
   .nousomme .conteneur{
     width: 100%;
     margin-left: 20px;
    }
    .nousomme .conteneur .qui-nous  {
     width: 100%;
   }
   .nousomme .conteneur .qui-nous h1 span {
     font-weight: bolder;
     display: block;
     font-size: 70px;
   }
   .nousomme .qui-nous  .paragraphe p {
     color: #444;
     text-align: justify;
     font-weight: 300;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.6;
     display: block;
   }
   .nousomme .qui-nous  .paragraphe p a{
    cursor: pointer;
  }
    .nousomme .team{
     width: 100%;
   
    }
    .nousomme .team img{
     width: 90%;
     margin-top: -50px;
   
    
    }
   
    @media(max-width : 991px ){
     .nousomme {
       display: block;
       width: 90%;
      }
      .nousomme .conteneur .qui-nous  .paragraphe {
      margin-right: 60px;
      }
      .nousomme .team img{
       margin-top: -50pxpx;
      }
    }
    @media(max-width : 968px ){
     
     .nousomme .team img{
       margin-top: 100px;
      }
    }
   
 /* end qui nous somme  */